	<!-- NAVBAR CONTENT -->
	<nav class="navbar navbar-light" id="navBar">
		<a class="navbar-brand">MyLists</a>
  		<form class="form-inline">
  			<div class="quickAddDiv">
	    		<input class="form-control form-control-sm mr-sm-2" id="quickAddInput" type="text" placeholder="Add to Quick-Add" aria-label="Add to Quick-Add">
	    		<button class="btn  btn-outline-success my-2 my-sm-0" type="submit">Quick-Add</button>
    		</div>
    		<button type="button" class="btn btn-secondary" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</button>
  		</form>
	</nav>
	
<!-- REST OF THE BODY CONTENT -->
	<div class="container-fluid"> 
		<!-- LEFT SIDEBAR CONTENT -->
		<div class="sideBar">
			<div class="listContainer">
				<!-- DEFAULT LIST TITLE -->
				<a href="#" value="Quick-Add"><i class="fa fa-angle-double-right"></i> Quick-Add</a>
				<br><hr class="hr"><br>
				<!-- THIS IS WHERE NEW LIST TITLES ARE ADDED -->
				<!-- <a> Template IS TEMPLATE FOR HANDLEBARS-->
				<a href="#"><i class="fa fa-angle-double-right"></i> Template</a>
				<br><hr class="hr"><br>
				<a href="#" id="addCategory">+ Add a New List</a>
			</div>
		</div>
		<!-- MAIN CONTENT AREA -->
		<div class="mainContent">
			<div id="listTitle">
				<h1>Template</h1>
			</div>
			<div class="checklistContent">
				<!-- THE LISTED ITEMS -->
				<!-- <div> listStyling IS THE TEMPLATE FOR HANDLEBARS -->
  				<div class="listStyling">
    				<div class="form-check-inline taskForm">
        				<input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      					<p class="itemName">sdaghbs</p>
      					<div class="btn-group dropleft importanceDropdown">
							<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i style="font-size:20px; vertical-align: middle;" class="fa">&#xf013;</i>
						  	</button>
						  	<div class="dropdown-menu">
						  		<a class="dropdown-item" href="#">High Importance</a>
			    				<a class="dropdown-item" href="#">Moderate Imporance</a>
			    				<a class="dropdown-item" href="#">Low Importance</a>
			    				<div class="dropdown-divider"></div>
			    				<a class="dropdown-item" href="#" style="color: #FF0000">Delete</a>
						  	</div>
						</div>
    				</div>
    				<hr class="hrForChecklist">
  				</div>
  				
		<!-- ADD A NEW ITEM -->
			<div id="addToList">
				<p id="addItem">+ Add an Item</p>
			</div>
			</div>
		</div>
	</div>

	<div class="footer">
      <div class="container">
        <span>© 2018 name</span>
      </div>
    </div>

<!-- MODAL SECTION -->
	<!-- MODAL 1 = FOR ADDING TASK -->

<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<h5 class="modal-title">Add a New Task</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body">
		        <input class="form-control form-control-sm mr-sm-2" id="modalTaskInput" type="text" placeholder="Add New Task" aria-label="Add to Quick-Add">
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        	<button id="addTask" type="button" class="btn btn-primary">Add</button>
		      	</div>
	  	  	</div>
	  	</div>
	</div>
	<!-- END MODAL FOR ADDING TASKS -->


	<!-- MODAL 2 = FOR ADDING NEW LIST CATEGORY -->
	
	<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<h5 class="modal-title">Add a New List</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body">
		        <input class="form-control form-control-sm mr-sm-2" id="modalListInput" type="text" placeholder="Create New List" aria-label="Add to Quick-Add">
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        	<button id="addList" type="button" class="btn btn-primary">Add</button>
		      	</div>
	  	  	</div>
	  	</div>
	</div>
	<!-- END MODAL FOR ADDING LIST CATEGORY -->
