	<!-- NAVBAR CONTENT -->
	<nav class="navbar navbar-light" id="navBar">
		<a class="navbar-brand">MyLists</a>
  		<form class="form-inline">
  			<div class="quickAddDiv">
	    		<input class="form-control form-control-sm mr-sm-2" id="quickAddInput" type="text" placeholder="Add to Quick-Add" aria-label="Add to Quick-Add">
	    		<button class="btn  btn-outline-success my-2 my-sm-0" type="submit">Quick-Add</button>
    		</div>

    		<div class="btn-group dropleft">
		  		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="syncButton" href="#">Sync</a>
			    	<a class="dropdown-item" href="#">Separated link</a>
			    	<div class="dropdown-divider"></div>
			    	<a class="dropdown-item" id="logoutButton" href="#">Logout</a>
			  </div>
			</div>
  		</form>
	</nav>
	
	<!-- REST OF THE BODY CONTENT -->
	<div class="container-fluid"> 
		<!-- LEFT SIDEBAR CONTENT -->
		<div class="sideBar">
			<div class="listContainer">
				<!-- DEFAULT LIST TITLE -->
				<a href="#" id="quickAdd">Quick-Add</a>
				<br><hr class="hr"><br>
				<!-- THIS IS WHERE NEW LIST TITLES ARE ADDED -->
				<!-- <a> Template IS TEMPLATE FOR HANDLEBARS-->
				<a href="#">Template</a>
				<br><hr class="hr"><br>
				<a href="#" id="newFolderButton">+ Add a New List</a>
			</div>
		</div>
		<!-- MAIN CONTENT AREA -->
		<div class="mainContent">
			<div id="listTitle">
				<h1>HTML</h1>
			</div>
			<div class="checklistContent">
				<!-- THE LISTED ITEMS -->
				<!-- <div> listStyling IS THE TEMPLATE FOR HANDLEBARS -->
  				<div class="listStyling">
    				<div class="form-check-inline taskForm">
        				<input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      					<p class="itemName">sdaghbs</p>
      					<div class="btn-group dropleft importanceDropdown">
							<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Importance
						  	</button>
						  	<div class="dropdown-menu">
						  		<a class="dropdown-item" href="#">High Importance</a>
			    				<a class="dropdown-item" href="#">Moderate Imporance</a>
			    				<a class="dropdown-item" href="#">Low Importance</a>
						  	</div>
						</div>
    				</div>
    				<hr class="hrForChecklist">
  				</div>
  				
		<!-- ADD A NEW ITEM -->
			<div id="addToList">
				<p>+ Add an Item</p>
			</div>
			</div>
		</div>
	</div>
