<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <p>Welcome to myLists, please signup or sign in below!</p>
    <p>New Account:</p>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
<br>
Already have an account?  Log in <a href = "http://localhost:3000/signin">here</a>

</body>

</html>
