/** { border: 1px solid black; }*/

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/

.checked {
    text-decoration: line-through;
    color: #9c9a9a;
}

.importance2 {
    color: #2d60b2;
}

.importance1 {
    color: #3784ff;
}

#quickAddButton {
    background-color: #5896fb;
    border-color: #5896fb;
    color: #fefeff;
}

#signInWelcome {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#signInNewAccount {
    text-align: center;
    padding-bottom: 1%;
}

#signInBlob1,
#signInBlob2,
#signInBlob3,
#signInBlob4,
#signInBlob5,
#signInBlob6 {
    width: 30%;
    margin: 0.1%;
    background-color: #e5e9ec;
}

.backgroundColor {
    background-color: #e3f2fd;
}

#signInButton {
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: #deeffb;
}

.navbar-brand{
    font-family: 'Oxygen', sans-serif;
    padding-left: 24px;
}

body {
    background-color: #fefeff;
}

h1 {
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 18px;
}

#listTitle {
    text-align: center;
}

#navBar {
    background-color: #e3f2fd;
    position: relative;
    z-index: 10;
    font-family: 'Abel', sans-serif;
    border-bottom: solid;
    border-width: 1px;
    border-color: #afc9dc;

}

.quickAddDiv {
    position: absolute;
    right: 40%;
}

#quickAddInput {
    background-color: #e3f2fd;
    border-style: none;
    font-size: 20px;
}

#quickAddInput:focus {
    background-color: #fefefe;
}

#quickAddInput:hover {
    background-color: #fefefe;
}

.sideBar {
    font-family: 'Abel', sans-serif;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 7;
}

.sideBar a {
    padding: 6px 10px 6px 26px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    color: black;
    padding-left: 40px;
}

.sideBar a:hover {
    color: #637f8e;
}

.hr {
    width: 160px;
    padding: 0px;
    margin: 0px auto;
}

.listContainer {
    margin-top: 90px;
}

.mainContent {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
    margin-left: 240px;
}

#taskForm{
    position: relative;
}

.importanceDropdown {
    position: absolute;
    right: 0%;
    bottom: 30%;
}

#taskInput {
    width: 300px;
}

#taskSubmit {
    background-color: #e3f2fd;
}

.form-check {
    padding-top: 8px;
    padding-left: 30px;
}

.form-inline {
    display: inline-block;
}

.fullList {
    margin-top: 30px;
    text-align: center;
}

.itemName {
    margin-bottom: 0;
    padding-left: 10px;
}

.itemWrapper {
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    width: 500px;
    background-color: white;
}

.checklistContent {
    width: 100%;
    height: auto;
    position: relative;
}

.listStyling {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.hrForChecklist {
    margin-top: 2px;
    margin-bottom: 0px;
}

#addToList {
    text-align: center;
}

#addToList p {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}

#optionBar {

    /*this is stuff to figure out how to get the dropdown pull to the left*/
    /*background-color: #28a745;*/
    /*left: auto;*/
    /*right: 100%;*/
}

.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #afc9dc;
    color: : #fff;
    text-align: center;
    z-index: 30;
    padding-top: 5px;
}

